<!DOCTYPE html>
<html>

<head>
<style type="text/css">
 table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}
table tr:nth-child(odd) {
   background-color: #f1f1f1;
}
table tr:nth-child(even) {
   background-color: #ffffff;
}
label {
    float: left;
    width: 5em;
    padding-top: 0.3em;
    text-align: right;
    margin-right: 1.5em;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>

<body data-ng-app="adresse2">
	<script src="adress2.js"></script>
	<div ng-controller="Address2Controller">

		<table>
			<tr ng-repeat="adresse in adress3">
				<td>{{ adresse.anrede }}</td>
				<td>{{ adresse.nachname }}</td>
				<td>{{ adresse.vorname }}</td>
				<td>{{ adresse.email }}</td>
			</tr>
		</table>
		
		<h2>Adresse !</h2>
		
		<label>Anrede:</label>
		<input type="text" ng-model="adress.anrede"	placeholder="Hier die Anrede eingeben" /><br> 
		<label>Vorname:</label>
		<input type="text" ng-model="adress.vorname" placeholder="Hier den Vorname eingeben" /><br> 
		<label>Nachname:</label>
		<input type="text" ng-model="adress.nachname" placeholder="Hier den Nachnamen eingeben" /><br> 
		<label>Email:</label>
		<input type="text" ng-model="adress.email" placeholder="Hier die Email-Adress eingeben" /><br>


        <hr>


		<h2>Testausgaben: </h2>
		<h3>Anrede: {{adress.anrede}}</h3>
		<h3>Vorname: {{adress.vorname}}</h3>
		<h3>Nachname: {{adress.nachname}}</h3>
		<h3>Email: {{adress.email}}</h3>
		<h3>FullName: {{name()}}</h3>

		<h3>Adressen: {{adress2}}</h3>


	</div>

</body>
</html>